

<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <h3>Event details:</h3>

  <%= f.label 'Publish event?' %><br>
  <%= f.input :publish, label:false, placeholder: 'yes/no'  %><br>



  <%= f.label 'Event title' %><br>
  <%= f.input :title, label: false, placeholder: 'Event name' %><br>

  <%= f.label 'Event description' %><br>
  <%= f.input :body, label: false, placeholder: 'Event description', :input_html => {:cols => 100, :rows => 12} %><br>
  <%= f.label 'Event deadline' %><br>
  <%= f.input :deadline, label: false, placeholder: 'dd/mm/yyyy' %><br>
  <br>
  <h4>"Add to Calendar" data:</h4>
  <%= f.label 'Short description for calendar:' %><br>
  <%= f.input :calendar_title, label: false %><br>

  <%= f.label 'Weekday:' %>
  <%= f.input :week_day, label: false , placeholder: 'Monday' %>

  <%= f.label 'Day:' %>
  <%= f.input :day, label: false, collection: 1..31   %>
   <%= f.label 'Month:' %>
  <%= f.input :month, label: false, collection: 1..12  %>
   <%= f.label 'Year:' %>
  <%= f.input :year, label: false  %>
  <%= f.label 'Start Time:' %>
  <%= f.input :start, label: false , placeholder: '00:00' %>
  <%= f.label 'End Time:' %>
  <%= f.input :end, label: false , placeholder: '00:00'  %>
  <p>Address:</p>
  <%= f.label 'Venue:' %>
  <%= f.input :address_one, label: false  %>
  <%= f.label 'Address:' %>
  <%= f.input :address_two, label: false  %>
  <%= f.label 'Postal Code:' %>
  <%= f.input :postcode, label: false  %>
  <%= f.label 'City' %>
  <%= f.input :city, label: false  %>
  <%= f.label 'Facebook Event URL' %>
  <%= f.input :facebook, label: false  %>




  <br><br>
  <%= f.button :submit %>
<% end %>