<!DOCTYPE html>
<html>
<head>
  <title>Openscreen Admin</title>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Script for Calendar widget -->
  <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js"></script>

  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>



<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >
 <header id="edit-header">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <h1>Openscreen Admin</h1>

          <div class="container-fluid">
            <ul class="nav nav-tabs">
              <li><%= link_to "Covers", covers_admin_path %></li>
              <li><%= link_to "Events", events_admin_path %></li>
              <li><%= link_to "Get Involved", covers_admin_path %></li>
              <li><%= link_to "What Is Openscreen", covers_admin_path %></li>
              <li><%= link_to "Return to Website", events_path %></li>
            </ul>
          </div>

      </div>
    </div>
  </div>
</header>


<section id="Edit">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">


        <%= yield %>

      </div>
    </div>
  </div>
 </section>


</body>
</html>