<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>"Get Involved!" List</h1>
  </div>
</div>
<section id="published-members" class="events-section" >
    <div class="container-fluid">


        <div class="row">
            <div class="col-md-8 col-md-offset-2">


              <!-- New "Get Involved" section button -->
              <div><i class="icon-green ion-plus-circled"></i> <%= link_to "Create New Get Involved entry", new_member_path,:class => "btn-framed-green" %>
              </div>

                <br>
                <hr>
                <br>



              <h1>Live "Get Involved!" Entry<i class="icon-green ion-checkmark"></i></h1>


              <% @members.each do |member| %>
                <% if member.published == "yes" %>
                  <hr>

                  <!-- Main content -->


                  <!-- Headline text -->
                  <div class="col-md-12">
                    <h1><%= member.title %></h1> <br>
                  </div>
                  <!-- Sub header -->
                  <div class="col-md-12">
                    <h2><%= member.subtitle %></h2> <br>
                  </div>
                  <!-- Body text -->
                  <div class="col-md-8">
                    <div><%= simple_format(member.body) %></div> <br>
                  </div>
                  <!-- Image -->
                   <div class="col-md-4">
                    <div> <%= image_tag member.image.url(:large), :class => "img-responsive center-block"%></div> <br>
                  </div>



                  <br>
                   <div class="col-md-12">
                  <i class="icon-md ion-ios-eye"></i> <%= link_to "View Member", member %>
                  </div>

                </div>

                <% end %>
              <% end %>

            </div>
        </div>
    </div>
</section>

<section id="published-events" class="events-section" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

              <h1>Unpublished "Get Involved!" Entries <i class="icon-red ion-close"></i></h1>


              <% @members.each do |member| %>
                <% if member.published == "no" || nil %>
                  <hr>
                  <!-- Main content -->

                  <!-- Headline text -->
                  <div class="col-md-12">
                    <h1><%= member.title %></h1> <br>
                  </div>
                  <!-- Sub header -->
                  <div class="col-md-12">
                    <h2><%= member.subtitle %></h2> <br>
                  </div>
                  <!-- Body text -->
                  <div class="col-md-8">
                    <div><%= simple_format(member.body) %></div> <br>
                  </div>

                      <!-- Image -->
                     <!-- Remove -->

                  <br>
                  <i class="icon-md ion-ios-eye"></i> <%= link_to " View Event", member %>
                <% end %>
              <% end %>

            </div>
        </div>
    </div>
</section>

